name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      - name: Build with Hatch
        run: |
          python -m hatch build

      - name: Archive production artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
